.container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 5em;
    gap: 1em;
    max-width: 70%;
    border-radius: 5px;
    padding: 1em;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}